<html>
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FB Photos manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="ouzza brahim">

   

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="assets/common/css/style.css">


</head>
<body>

    <div id="app">
        <router-view></router-view>
    </div>

    <script data-main="core" 
      data-require="require.js@*" 
      data-semver="2.1.4" 
      src="assets/vendors/require/require.js">
    </script>

</body>
</html>
